#comments {
    position: absolute;
    right: 0px;
    height: calc(100% - 40px);
    width: 35%;
    bottom: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

#comments img {
    height: 27;
    width: 27;
    padding: 1px;
    border-radius: 50%;
}

#comments .card-title {
    display: flex;
    align-items: center;
}

#comments .commentTime {
    float: left;
    padding-right: 8px;
    font-weight: bold;

}
