#comments {
    position: absolute;
    right: 0px;
    height: calc(100% - 40px);
    width: 35%;
    bottom: 0px;
    margin-bottom: 0px;
    padding: 0;
}

#comments img {
    height: 27;
    width: 27;
    padding: 1px;
    border-radius: 50%;
}

#comments .card {
    margin: 0;
    box-shadow: none;
    border-bottom: 1px solid #bebebe;
    border-radius: 0;
}

#comments .card:first-child {
    border-top: none;

}

#comments .card:last-child {
    border-bottom: none;

}

#comments .card-content {
    padding: 15px;
    padding-bottom: 3px;
}

#comments .card-title {
    display: flex;
    align-items: center;
}

#comments .commentTime {
    float: left;
    padding-right: 8px;
    font-weight: bold;

}

#comments .card-action {
    padding: 2px;
    color: #b9b9b9;
    text-align: right;
}

#comments .card-action i {
    font-size: 20px;
}

#noComments {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
