body {
    margin: 0px;
    margin-top: 40px;
    overflow-x: hidden;
}

#header {
    background-color: #cdcdcd;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header > i {
    font-size: 34px;
    color: white;
    padding: 3px;
    position: absolute;
    transition: .2s;
}

#main {
    padding: 20px;
    position: absolute;
}

#uploadButton {
    right: 10px
}

.blueGrad {
    background: -webkit-linear-gradient(#ffffff, #a8f3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#uploadWindow {
    padding: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    background: white;
    z-index: 2;

}

#uploadWindow input[type='file'] {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    opacity: 0;

}

#uploadState {
    transition: .4s;

}

#amountComplete {
    position: absolute;
    left: 20;
    top: 40;
}

#amountTotal {
    position: absolute;
    top: 40px;
    right: 20px;
}

#viewer {
    background: #fff;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
}

.videoContainer {
    position: relative;
    padding-bottom: calc(56.25%);
    /* 16:9 */

    padding-top: 0px;
    height: 0;
}

.videoInner {
    position: absolute;
    top: 15;
    left: 0;
    width: 65%;
    height: 65%;
    max-height: window
}

#comments {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 35%;
    background: beige;
}
