body {
    margin: 0px;
    overflow-x: hidden;
    overflow: hidden;
    min-height: 400px;
    height: calc(100% - 40px);
    position: absolute;
    bottom: 0px;
    top: 40px;
    width: 100%;
}

.animated {
    animation-duration: .4s;
}

#app {
    transition: .6s;
}

#authContainer {}

i {
    cursor: pointer;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border-bottom: 1px solid #448aff !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #448aff;
    background-color: #448aff;
}

input {
    @extend .blue accent-1;
}

#header {
    background-color: #cdcdcd;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header > i {
    font-size: 34px;
    color: white;
    padding: 3px;
    position: absolute;
    transition: .2s;
}

#main {
    padding: 20px;
    padding-bottom: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#uploadButton {
    right: 10px
}

.blueGrad {
    background: -webkit-linear-gradient(#ffffff, #a8f3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#uploadWindow {
    padding: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    background: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center
}

#uploadWindow input[type='file'] {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    opacity: 0;

}

#uploadState {
    transition: .4s;

}

#amountComplete {
    width: auto;
    float: left;
}

#amountTotal {
    float: right;
    width: auto;
}



/*viewer css*/
#viewer {
    background: #fff;
    z-index: 2;
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    height: 100%;
}

#videoContainer {
    width: 100%;
    position: relative;
    padding-bottom: calc(56.25%);
    /* 16:9 */

    padding-top: 0px;
    height: 0;
}

.videoInner {
    position: absolute;
    top: 15;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: window
}

#comments {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 35%;
    background: beige;
    top: 0px;
}

#outerVideoWrapper {
    width: 65%;
    padding: 2%;
    height: calc(94% - 90px);
    display: flex;
    align-items: center;
    padding-top: 0px;


    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#outerVideoWrapper > img {
    max-height: 100%;
    max-width: 100%;
}

#commentBox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 90px;
    width: 61%;
    margin: 2%;
    padding: 15px;
    transition: .4s;
}

#commentBox:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#commentBox input[type=text] {
    padding: 0px;
    font-size: 12;
    height: 28px;

}

#checkTime {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    padding-top: 5;
    padding-right: 4;
    padding-left: 4;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .2s;
    border-radius: 3px;
    background: #d9d9d9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.02), 0 1px 5px 0 rgba(0, 0, 0, 0.11);
}

#checkTime:hover {
    border: 1px solid #9e9e9e;
    background: #ddd;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);

}

#sendComment {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 32;
}

#sendComment i {
    margin-left: 10px;
}

#videoName {
    position: absolute;
    margin: 0;
    font-size: 26px;
    color: white;
    padding: 5px;
    left: 45;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    background: -webkit-linear-gradient(left, white, white, white, white, white, #cdcdcd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
