body {
    margin: 0px;
    overflow-x: hidden;
    overflow: hidden;
    height: calc(100% - 40px);
    min-width: 400px;
    min-height: 250px;
    position: absolute;
    bottom: 0px;
    top: 40px;
    width: 100%;
}

.animated {
    animation-duration: .4s;
}

#app {
    transition: .6s;
}


i {
    cursor: pointer;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #2196f3;
    background-color: #2196f3;
}

input {
    @extend .blue accent-1;
}

#header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#header > i {
    font-size: 34px;
    padding: 3px;
    position: absolute;
    transition: .2s;
}

#header img {
    height: 100%;
    padding: 7px;
}

#main {
    padding: 20px;
    padding-bottom: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    transition: .4s;
    background: #F5F5F5;
}

#uploadButton {
    right: 10px
}

#uploadBackButton {
    position: absolute;
    left: 10px;
}

.blueGrad {
    background: -webkit-linear-gradient(#ffffff, #2195f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#uploadWindow {
    padding: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    background: white;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center
}

#uploadWindow input[type='file'] {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    opacity: 0;

}

#uploadState {
    transition: .4s;

}

#amountComplete {
    width: auto;
    float: left;
}

#amountTotal {
    float: right;
    width: auto;
}

