/*Dark*/
.dark {
    background: #15151c;

}

.dark #main {
    background: #15151c;
}

.dark #videoList {
    color: #fafafa;
}

.dark .card .card-title {
    background: -webkit-linear-gradient(left, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, rgba(205, 205, 205, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .card {
    background: #303246;
    color: #fafafa;
}



.dark #videoList .card-image {
    color: #7d829c;
    background: #282a3c;
}

.dark #header {
    background: #15141c;
}

.dark #videoList .card-action {
    color: #7d829c;
}

.dark #videoList .menuDrop {
    color: #7d829c;
}

.dark #uploadWindow {
    background: #0f0f14;
}

.dark #header>i {
    color: #fafafa;
}

.dark #header #smallLogo {
    color: #fafafa;
}

.dark #uploadState {
    color: #fafafa;
}

.dark #waitLoader {
    background: #15151c;

}

.dark #authContainer {
    background: #15151c;

}

.dark #authContainer input {
    color: #fafafa;
}

.dark #viewer {
    background: #0f1013;

}

.dark #commentBox {
    background: #2b2f3b;
    color: #fafafa;
}

.dark #commentBox #inptComment {
    color: #fafafa;
}

.dark #commentBox #checkTime {
    background: #20222b;
    color: #9e9e9e;

}

.dark #comments,
.dark #infoContainer {
    background: #2b2f3b;

}

.dark .collection {
    border-color: #0f1014;
    color: #fafafa
}

.dark .collection .collection-item {
    background: #2b2f3b;
    border-color: #0f1014;
}

.dark #comments>.card {
    background: #2b2f3b;
    border-bottom: 1px solid #0f1014;

}

.dark #comments>.card:hover {
    background: #353944;

}

.dark #videoActions,
.dark #comInfo {
    border-bottom: 1px solid #0f1014;
    background: #2b2f3b;
}

.dark #videoName {
    background: -webkit-linear-gradient(left, #fafafa, #fafafa, #fafafa, #fafafa, #fafafa, rgba(205, 205, 205, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark #comInfoTab .tabs .tab a {
    color: white;
}

/*lighten*/

.lighten #videoList .card-action {
    color: #b9b9b9;

}

.lighten .card .card-title {
    background: -webkit-linear-gradient(left, #212121, #212121, #212121, #212121, #212121, #212121, #212121, #212121, #212121, #212121,#212121, #212121, #212121, #212121, #212121, rgba(205, 205, 205, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lighten #videoList .menuDrop {
    color: #b9b9b9;

}

.lighten #videoList .card-image {
    background: #f7f7f7;
    color: #868686;
}

.lighten #header {
    border-bottom: 1px solid #808080;
    color: #212121;
    box-shadow: none;

}

.lighten #header #smallLogo {
    color: #212121;

}

.lighten #header>i {
    color: #212121;

}

.lighten #waitLoader {
    background: #eee;

}

.lighten #authContainer {
    background: #fff;

}

.lighten #authBox {
    background-color: #f5f5f5;

}

.lighten #viewer {
    background: #fff;
}

.lighten #commentBox {
    background: #f5f5f5;
}

.lighten #commentBox #checkTime {
    background: #d8d8d8;
    color: #9e9e9e;

}

.lighten #comments,
.lighten #infoContainer {
    background: #fafafa;

}

.lighten #comments .card,
.lighten #infoContainer .collection-item {
    background: #ffffff00;
}


.lighten #videoActions,
.lighten #comInfo {
    border-bottom: 1px solid #d6d6d6;
    background: #f5f5f5;
}

.lighten #comments>.card {
    1121155 background: #f5f5f5;
    border-bottom: 1px solid #bebebe;

}

.lighten #comments>.card:hover {
    background: #fbfbfb;

}

.lighten #videoName {
    background: -webkit-linear-gradient(left, #212121, #212121, #212121, #212121, #212121, rgba(205, 205, 205, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}