#videoList {}

#videoList .card-stack {
    width: 100%;

}

#videoList .card-action {
    padding: 0px;
    display: flex;
    align-content: center;
    flex-flow: row-reverse;
    color: #b9b9b9;
    white-space: nowrap;
    transition: .2s;

}

#videoList .card-action span {
    display: flex;
    align-items: center;
    padding-right: 10px;
}


#videoList .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
}

#videoList .card-image img {
    object-fit: cover;
    width: 66px;
    height: 66px;

}

#videoList .card-image i {
    background: #f7f7f7;
    padding: 20px;
    color: ##868686;
}

#videoList .card-title {
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 10px;
}

#videoList > div {
    cursor: pointer;
    overflow: hidden;
    height: 64px;
}

#videoList > div:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scroller::-webkit-scrollbar-track {
    background-color: #ddd;
}

.scroller::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
