#videoList {}

#videoList > div {
    cursor: pointer;
    padding: 10px
}

.scrollbar {
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scroller::-webkit-scrollbar-track {
    background-color: #ddd;
}

.scroller::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
